<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <mdb-navbar-brand>
        <div class="navbar-brand">
            <img src="assets/header/logo.png" height="45px">
            <span class="font-weight-bold">Rarity&Collections</span>
        </div>
    </mdb-navbar-brand>
    
    <links>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="/numismatics" routerLinkActive="active">
                <a class="nav-link waves-light" routerLink="/numismatics" mdbWavesEffect>Numismatics</a>
            </li>
            <li class="nav-item" routerLinkActive="/bullions" routerLinkActive="active">
                <a class="nav-link waves-light" routerLink="/bullions" mdbWavesEffect>Bullion Coins</a>
            </li>
            <li class="nav-item" routerLinkActive="/bonistics" routerLinkActive="active">
                <a class="nav-link waves-light" routerLink="/bonistics" mdbWavesEffect>Bonistics</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <i class="fa fa-vcard"></i><span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-primary shoq" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><i class="fa fa-gears"></i>Configuration</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><i class="fa fa-sign-out"></i>Log Out</a>
                </div>
            </li>
    
        </ul>

    </links>
    
    </mdb-navbar>