<h5 class="font-weight-bold"><strong>{{ label }}</strong></h5>

<div class="border-top my-3 mr-3"></div>

<div class="form-check">
    <input [name]="name" type="radio" class="form-check-input with-gap" [id]="name + '_all'" [checked]="selected.length === 0" value='' [(ngModel)]="selected" (change)="onFilterChange()">
    <label class="form-check-label" [for]="name + '_all'">All</label>
</div>

<div class="form-check" *ngFor="let value of values">
    <input [name]="name" type="radio" class="form-check-input with-gap" [id]="value.code" [value]='value.label' [(ngModel)]="selected" (change)="onFilterChange()">
    <label class="form-check-label" [for]="value.code">{{ value.label }}</label>
</div>
